<foodorb-includes></foodorb-includes>

<div class="offset-md-4 col-md-4">
  <hr />
</div>
<div class="container row mx-auto justify-content-center">
  <table class="table table-center mx-auto w-75">
    <thead class="table table-dark table-bordered">
      <tr>
        <th *ngFor="let head of headElements">{{head}} </th>
      </tr>
    </thead>
    <tbody class="table table-striped">
      <tr *ngFor="let item of cartItems;" appColor>
        <td>{{item.id}}</td>
        <td>{{item.product}}</td>
        <td>{{item.price | currency}}</td>
      </tr>
    </tbody>
  </table>
  <div class="offset-md-4 col-md-4">
    <hr />
  </div>
</div>
<div class="offset-md-3 col-md-3  ">
  <button class="btn btn-warning btn-sm mr-4" (click)="clearCart()">
    Clear Cart
  </button>
  <button class="btn btn-primary btn-sm" (click)="placeOrder()">
    Place Order
  </button>
</div>
